
<div class="page-header">
  <h2>Users Page</h2>
</div>
<a href="#" class="btn btn-primary btn-sm">Add New User</a>
<hr>
<div class="row-fluid">
<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>

  </thead>
  <tbody>
    {{#each model as |user|}}
      {{#if user.role}}
      <tr>
        <td>{{user.fullName}}</td>
        <td>{{user.email}}</td>
        <td class="text-center">{{capitalize user.role}}</td>
        <td><a href="#" class="btn btn-sm btn-info">View</a></td>
      </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>
</div>
