<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}Crossover Ticketing{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      {{#if session.isAuthenticated}}
      <ul class="nav navbar-nav navbar-left">
        {{#link-to 'tickets' tagName="li"}}<a href="">Tickets</a>{{/link-to}}
      </ul>
      {{/if}}
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          <li class="my-nav-li"><a href="#">Hi, {{sessionAccount.account.role}}</a></li>
          <li class="my-nav-li"><a href="#" {{action 'logout'}}>Logout</a></li>
        {{else}}
          <li class="my-nav-li" id="login">{{#link-to 'login'}}Login{{/link-to}}</li>
        {{/if}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
